function LevelOne.init 0
    push argument 0
    pop static 0
    push argument 1
    pop static 1
    push argument 2
    pop static 2
    push argument 3
    pop static 3
    push argument 4
    pop static 5
    push constant 0
    pop static 4
    push constant 0
    pop static 10
    push constant 0
    pop static 11
    push constant 0
    pop static 8
    push constant 0
    pop static 9
    push constant 40
    push constant 6
    push constant 1
    push constant 1
    push constant 0
    call Gear.new 5
    pop static 6
    push constant 46
    push constant 6
    push constant 1
    push constant 1
    push constant 0
    call Gear.new 5
    pop static 7
    push static 4
    push static 3
    add
    push constant 42
    push constant 10
    push constant 5
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    call Item.new 8
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push static 4
    push constant 1
    add
    pop static 4
    push static 4
    push static 3
    add
    push constant 44
    push constant 10
    push constant 5
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    call Item.new 8
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push static 4
    push constant 1
    add
    pop static 4
    push static 4
    push static 3
    add
    push constant 46
    push constant 10
    push constant 5
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    call Item.new 8
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push static 4
    push constant 1
    add
    pop static 4
    push constant 0
    return
function LevelOne.dispose 2
    push constant 0
    pop local 1
    push static 6
    call Gear.dispose 1
    pop temp 0
    push static 7
    call Gear.dispose 1
    pop temp 0
label LevelOne_0
    push local 1
    push constant 3
    lt
    not
    if-goto LevelOne_1
    push local 1
    push static 3
    add
    pop pointer 1
    push that 0
    pop local 0
    push local 0
    call Item.dispose 1
    pop temp 0
    push local 1
    push constant 1
    add
    pop local 1
    goto LevelOne_0
label LevelOne_1
    push constant 0
    return
function LevelOne.loadLevel 0
    push constant 0
    pop static 4
    push static 5
    push constant 62
    push constant 20
    call Player.setPosition 3
    pop temp 0
    call LevelOne.loadMap 0
    pop temp 0
    push static 0
    call Tiles.loadClosedChestTile 1
    pop temp 0
    push constant 58
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call Tiles.loadEngineer 1
    pop temp 0
    push constant 36
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 36
    push constant 14
    call LevelManager.updateMap 2
    pop temp 0
    push static 0
    call Tiles.loadDoorKeeper 1
    pop temp 0
    push constant 10
    push constant 18
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 10
    push constant 18
    call LevelManager.updateMap 2
    pop temp 0
    push constant 0
    return
function LevelOne.loadLevelCompleted 0
    push constant 1
    neg
    pop static 10
    call LevelOne.loadMap 0
    pop temp 0
    push static 5
    push constant 0
    push constant 22
    call Player.setPosition 3
    pop temp 0
    call LevelOne.animateFans 0
    pop temp 0
    push static 6
    push constant 1
    neg
    call Gear.setAnimated 2
    pop temp 0
    push static 7
    push constant 1
    neg
    call Gear.setAnimated 2
    pop temp 0
    push static 0
    call Tiles.loadEngineer 1
    pop temp 0
    push constant 36
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 36
    push constant 14
    call LevelManager.updateMap 2
    pop temp 0
    push static 0
    call Tiles.loadDoorKeeper 1
    pop temp 0
    push constant 22
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 22
    push constant 14
    call LevelManager.updateMap 2
    pop temp 0
    push constant 0
    return
function LevelOne.loadMap 0
    call LevelOne.drawPipes 0
    pop temp 0
    call LevelOne.drawFences 0
    pop temp 0
    call LevelOne.drawDungeon 0
    pop temp 0
    call LevelOne.drawWalls 0
    pop temp 0
    call LevelOne.drawGenerator 0
    pop temp 0
    call LevelOne.updateMap 0
    pop temp 0
    call DialogueManager.drawUI 0
    pop temp 0
    push static 5
    call Player.getHP 1
    call DialogueManager.updateStatusBox 1
    pop temp 0
    push static 0
    call DungeonTiles.loadLeftGateClosed 1
    pop temp 0
    push constant 24
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 24
    push constant 10
    call LevelManager.updateMap 2
    pop temp 0
    push static 0
    call DungeonTiles.loadRightGateClosed 1
    pop temp 0
    push constant 26
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 26
    push constant 10
    call LevelManager.updateMap 2
    pop temp 0
    push constant 0
    return
function LevelOne.animateTiles 0
    push static 6
    call Gear.draw 1
    pop temp 0
    push static 7
    call Gear.draw 1
    pop temp 0
    push constant 0
    return
function LevelOne.winCondition 2
    push static 5
    call Player.getX 1
    pop local 0
    push static 5
    call Player.getY 1
    pop local 1
    push local 0
    push constant 6
    eq
    push local 1
    push constant 18
    eq
    and
    push static 8
    and
    not
    if-goto LevelOne_3
    push constant 1
    neg
    return
    goto LevelOne_2
label LevelOne_3
label LevelOne_2
    push constant 0
    return
function LevelOne.newWinCondition 0
    push static 11
    return
function LevelOne.processEvents 3
    push static 5
    call Player.getX 1
    pop local 0
    push static 5
    call Player.getY 1
    pop local 1
    push local 0
    push constant 34
    eq
    push local 1
    push constant 14
    eq
    and
    push local 0
    push constant 36
    eq
    push local 1
    push constant 16
    eq
    and
    or
    not
    if-goto LevelOne_5
    push static 10
    not
    not
    if-goto LevelOne_7
    push constant 38
    call String.new 1
    push constant 84
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 87
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 120
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 35
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineTwo 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    goto LevelOne_6
label LevelOne_7
    push constant 35
    call String.new 1
    push constant 84
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 120
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
label LevelOne_6
    goto LevelOne_4
label LevelOne_5
label LevelOne_4
    push static 10
    not
    push local 1
    push constant 18
    eq
    and
    push local 0
    push constant 8
    eq
    push local 0
    push constant 12
    eq
    or
    and
    not
    if-goto LevelOne_9
    push static 8
    not
    not
    if-goto LevelOne_11
    push constant 46
    call String.new 1
    push constant 84
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 35
    call String.new 1
    push constant 101
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 113
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineTwo 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 3000
    call Sys.wait 1
    pop temp 0
    push constant 1
    neg
    pop static 8
    goto LevelOne_10
label LevelOne_11
label LevelOne_10
    push constant 38
    call String.new 1
    push constant 87
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 39
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 120
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 29
    call String.new 1
    push constant 112
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 39
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineTwo 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push static 0
    call Tiles.loadOpenDoorTile 1
    pop temp 0
    push constant 6
    push constant 16
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    goto LevelOne_8
label LevelOne_9
label LevelOne_8
    push local 1
    push constant 12
    eq
    push local 0
    push constant 23
    gt
    and
    push local 0
    push constant 27
    lt
    and
    not
    if-goto LevelOne_13
    push static 10
    not
    if-goto LevelOne_15
    push constant 1
    neg
    pop static 11
    goto LevelOne_14
label LevelOne_15
    push constant 41
    call String.new 1
    push constant 84
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
label LevelOne_14
    goto LevelOne_12
label LevelOne_13
label LevelOne_12
    push static 10
    push static 9
    not
    and
    not
    if-goto LevelOne_17
    push local 1
    push constant 14
    eq
    push local 0
    push constant 23
    gt
    and
    push local 0
    push constant 27
    lt
    and
    not
    if-goto LevelOne_19
    push constant 48
    call String.new 1
    push constant 68
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 44
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 30
    call String.new 1
    push constant 100
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 122
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineTwo 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 3000
    call Sys.wait 1
    pop temp 0
    push constant 48
    call String.new 1
    push constant 84
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 30
    call String.new 1
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineTwo 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 4000
    call Sys.wait 1
    pop temp 0
    push constant 40
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push static 0
    call DungeonTiles.loadLeftGateOpen 1
    pop temp 0
    push constant 24
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 24
    push constant 10
    call LevelManager.updateMap 2
    pop temp 0
    push static 0
    call DungeonTiles.loadRightGateOpen 1
    pop temp 0
    push constant 26
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 26
    push constant 10
    call LevelManager.updateMap 2
    pop temp 0
    push constant 1
    neg
    pop static 9
    goto LevelOne_18
label LevelOne_19
label LevelOne_18
    goto LevelOne_16
label LevelOne_17
label LevelOne_16
    push constant 0
    return
function LevelOne.processKeyCollision 0
    push constant 0
    return
function LevelOne.animateFans 2
    push constant 0
    pop local 0
label LevelOne_20
    push local 0
    push constant 3
    lt
    not
    if-goto LevelOne_21
    push local 0
    push static 3
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    push constant 1
    neg
    call Item.setAnimated 2
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto LevelOne_20
label LevelOne_21
    push constant 0
    return
function LevelOne.getItemCount 0
    push static 4
    return
function LevelOne.updateMap 0
    push constant 0
    push constant 12
    push constant 16
    push constant 1
    neg
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 12
    push constant 16
    push constant 12
    push constant 0
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 14
    push constant 22
    push constant 12
    push constant 1
    neg
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 28
    push constant 36
    push constant 12
    push constant 1
    neg
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 38
    push constant 62
    push constant 14
    push constant 1
    neg
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 0
    return
function LevelOne.drawPipes 0
    push static 0
    push constant 2
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 0
    push constant 6
    push constant 0
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 48
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 50
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 6
    push constant 14
    push constant 4
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 34
    push constant 42
    push constant 4
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 16
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 12
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 34
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 50
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 4
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 22
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 30
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 38
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 2
    push constant 6
    push constant 8
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 16
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 22
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 52
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 36
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 44
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 52
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 1
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 28
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 36
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 32
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 14
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 3
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 8
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 2
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 52
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 44
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 18
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 7
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 46
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 2
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 8
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 18
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 9
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 30
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 38
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 16
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 32
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 14
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 36
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 52
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 6
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 16
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 46
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 36
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 52
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 8
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 4
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 10
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 32
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 0
    return
function LevelOne.drawFences 0
    push static 0
    call Tiles.loadFenceTile 1
    pop temp 0
    push constant 4
    push constant 14
    push constant 0
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 6
    push constant 14
    push constant 2
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 6
    push constant 14
    push constant 4
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 6
    push constant 14
    push constant 6
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 10
    push constant 14
    push constant 8
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 8
    push constant 18
    push constant 10
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 8
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 10
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 8
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 10
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 16
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 4
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 6
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 10
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 12
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 10
    push constant 14
    push constant 0
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 10
    push constant 14
    push constant 2
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 4
    push constant 18
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 20
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 20
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 24
    push constant 28
    push constant 0
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 24
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 26
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 32
    push constant 36
    push constant 0
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 32
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 34
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 34
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 32
    push constant 36
    push constant 10
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 40
    push constant 44
    push constant 0
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 40
    push constant 44
    push constant 2
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 46
    push constant 50
    push constant 4
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 48
    push constant 52
    push constant 0
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 50
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 50
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 50
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 52
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 0
    push constant 12
    push constant 54
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 12
    push constant 56
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 12
    push constant 58
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 12
    push constant 60
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 12
    push constant 62
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    return
function LevelOne.drawDungeon 0
    push static 0
    push constant 1
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 20
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 22
    push constant 28
    push constant 4
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 3
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 30
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 4
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 20
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 20
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call Tiles.loadWhiteTile 1
    pop temp 0
    push constant 22
    push constant 28
    push constant 6
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 22
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 28
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 5
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 24
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 26
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 6
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 30
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 30
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 7
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 20
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 8
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 22
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 28
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 9
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 30
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call Tiles.loadTorchTile 1
    pop temp 0
    push constant 22
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 28
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 0
    return
function LevelOne.drawWalls 0
    push static 0
    call Tiles.loadQuadWallTile 1
    pop temp 0
    push constant 0
    push constant 10
    push constant 16
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 12
    push constant 16
    push constant 12
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 14
    push constant 20
    push constant 12
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 30
    push constant 36
    push constant 12
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 50
    push constant 62
    push constant 14
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 6
    push constant 16
    call Tiles.eraseTile 2
    pop temp 0
    push constant 58
    push constant 14
    call Tiles.eraseTile 2
    pop temp 0
    push static 0
    call Tiles.loadClosedDoorTile 1
    pop temp 0
    push constant 6
    push constant 16
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 58
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 0
    return
function LevelOne.drawGenerator 0
    push static 0
    push constant 1
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 40
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 42
    push constant 46
    push constant 8
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 3
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 48
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 4
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 40
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 6
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 48
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 7
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 40
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 8
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 42
    push constant 46
    push constant 12
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 9
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 48
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call GeneratorTiles.loadCircleTop 1
    pop temp 0
    push constant 38
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 1
    call GeneratorTiles.loadTubeTile 2
    pop temp 0
    push constant 38
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call GeneratorTiles.loadTubeTile 2
    pop temp 0
    push constant 38
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 3
    call GeneratorTiles.loadTubeTile 2
    pop temp 0
    push constant 38
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 10
    not
    not
    if-goto LevelOne_23
    push static 0
    call GeneratorTiles.loadCircleBottom 1
    pop temp 0
    push constant 38
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    goto LevelOne_22
label LevelOne_23
    push static 0
    call GeneratorTiles.loadEnergyOrb 1
    pop temp 0
    push constant 38
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
label LevelOne_22
    push static 0
    push constant 1
    call GeneratorTiles.loadBeltTile 2
    pop temp 0
    push constant 40
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call GeneratorTiles.loadBeltTile 2
    pop temp 0
    push constant 42
    push constant 46
    push constant 14
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 3
    call GeneratorTiles.loadBeltTile 2
    pop temp 0
    push constant 48
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 0
    return