function LevelFive.init 0
    push argument 0
    pop static 0
    push argument 1
    pop static 1
    push argument 2
    pop static 2
    push argument 3
    pop static 3
    push argument 4
    pop static 5
    push constant 0
    pop static 4
    push constant 44
    push constant 4
    push constant 2
    push constant 12
    call Golem.new 4
    pop static 6
    push constant 0
    return
function LevelFive.dispose 1
    push constant 0
    push static 3
    add
    pop pointer 1
    push that 0
    pop local 0
    push local 0
    call Item.dispose 1
    pop temp 0
    push static 6
    call Golem.dispose 1
    pop temp 0
    push constant 0
    return
function LevelFive.loadLevel 1
    push static 5
    push constant 0
    push constant 12
    call Player.setPosition 3
    pop temp 0
    push static 5
    push constant 0
    push constant 12
    call Player.setSpawn 3
    pop temp 0
    push static 6
    call Golem.draw 1
    pop temp 0
    call LevelFive.loadPipes 0
    pop temp 0
    call LevelFive.loadWalls 0
    pop temp 0
    call LevelFive.loadBox 0
    pop temp 0
    call LevelFive.updateMap 0
    pop temp 0
    push static 4
    push static 3
    add
    push constant 58
    push constant 12
    push constant 5
    push constant 0
    push constant 0
    push constant 0
    push constant 1
    neg
    push constant 1
    call Item.new 8
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push static 4
    push constant 1
    add
    pop static 4
    push constant 42
    call String.new 1
    push constant 68
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    pop local 0
    push local 0
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 0
    call String.dispose 1
    pop temp 0
    push constant 32
    call String.new 1
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 0
    push local 0
    call DialogueManager.printDialogueLineTwo 1
    pop temp 0
    push local 0
    call String.dispose 1
    pop temp 0
    push constant 0
    return
function LevelFive.animateTiles 0
    push constant 0
    return
function LevelFive.winCondition 0
    push constant 0
    return
function LevelFive.processEvents 2
    push static 5
    call Player.getX 1
    pop local 0
    push static 5
    call Player.getY 1
    pop local 1
    push static 6
    call Golem.isRunning 1
    not
    if-goto LevelFive_1
    push static 6
    push local 0
    push local 1
    push static 5
    call Golem.tick 4
    pop temp 0
    goto LevelFive_0
label LevelFive_1
label LevelFive_0
    push argument 0
    push constant 69
    eq
    not
    if-goto LevelFive_3
    push local 0
    push constant 52
    eq
    push local 1
    push constant 12
    eq
    and
    not
    if-goto LevelFive_5
    push static 6
    call Golem.stop 1
    pop temp 0
    call LevelFive.endScene 0
    pop temp 0
    call LevelManager.endGame 0
    pop temp 0
    goto LevelFive_4
label LevelFive_5
label LevelFive_4
    goto LevelFive_2
label LevelFive_3
label LevelFive_2
    push constant 0
    return
function LevelFive.processKeyCollision 0
    push constant 0
    return
function LevelFive.getItemCount 0
    push static 4
    return
function LevelFive.endScene 3
    push constant 0
    push constant 11
    push constant 9
    push constant 4
    push constant 0
    push constant 4
    push constant 0
    push constant 1
    call Item.new 8
    pop local 0
    push constant 0
    pop local 1
    push constant 2000
    call Sys.wait 1
    pop temp 0
    push local 0
    call Item.draw 1
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
label LevelFive_6
    push local 1
    push constant 22
    lt
    not
    if-goto LevelFive_7
    push local 0
    call Item.moveRight 1
    pop temp 0
    push local 1
    push constant 1
    add
    pop local 1
    push constant 150
    call Sys.wait 1
    pop temp 0
    goto LevelFive_6
label LevelFive_7
    push constant 1500
    call Sys.wait 1
    pop temp 0
    push constant 39
    call String.new 1
    push constant 84
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineOne 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 44
    call String.new 1
    push constant 89
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    pop local 2
    push local 2
    call DialogueManager.printDialogueLineTwo 1
    pop temp 0
    push local 2
    call String.dispose 1
    pop temp 0
    push constant 3000
    call Sys.wait 1
    pop temp 0
    push constant 0
    return
function LevelFive.loadPipes 0
    push static 0
    push constant 1
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 50
    push constant 20
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 46
    push constant 22
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 48
    push constant 52
    push constant 2
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 48
    push constant 52
    push constant 22
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 52
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 52
    push constant 20
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 10
    push constant 14
    push constant 62
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 4
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 46
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 50
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 56
    push constant 60
    push constant 8
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 56
    push constant 60
    push constant 16
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 46
    push constant 24
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 50
    push constant 24
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 7
    call Pipe.loadPipeTile 2
    pop temp 0
    push constant 46
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 50
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 0
    return
function LevelFive.loadWalls 0
    push static 0
    push constant 1
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 54
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 54
    push constant 18
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 56
    push constant 62
    push constant 0
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 56
    push constant 62
    push constant 18
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 42
    push constant 22
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 3
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 44
    push constant 22
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 4
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 54
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 54
    push constant 4
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 54
    push constant 20
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 54
    push constant 22
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 6
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 44
    push constant 0
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 44
    push constant 24
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 7
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 54
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 54
    push constant 24
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 8
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 0
    push constant 42
    push constant 2
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 56
    push constant 62
    push constant 6
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 56
    push constant 62
    push constant 24
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 9
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 44
    push constant 2
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call Tiles.loadWhiteTile 1
    pop temp 0
    push constant 0
    push constant 42
    push constant 0
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 42
    push constant 24
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 56
    push constant 62
    push constant 2
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 56
    push constant 62
    push constant 4
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 56
    push constant 62
    push constant 20
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 56
    push constant 62
    push constant 22
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    return
function LevelFive.loadBox 0
    push static 0
    push constant 1
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 56
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 58
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 3
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 60
    push constant 10
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 4
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 56
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 6
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 60
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 7
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 56
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 8
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 58
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 9
    call GeneratorTiles.loadWallTile 2
    pop temp 0
    push constant 60
    push constant 14
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call Tiles.loadConsoleTile 1
    pop temp 0
    push constant 54
    push constant 12
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 0
    return
function LevelFive.updateMap 0
    push constant 0
    push constant 50
    push constant 2
    push constant 1
    neg
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 0
    push constant 50
    push constant 22
    push constant 1
    neg
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 50
    push constant 20
    call LevelManager.updateMap 2
    pop temp 0
    push constant 52
    push constant 20
    call LevelManager.updateMap 2
    pop temp 0
    push constant 54
    push constant 18
    call LevelManager.updateMap 2
    pop temp 0
    push constant 50
    push constant 4
    call LevelManager.updateMap 2
    pop temp 0
    push constant 52
    push constant 4
    call LevelManager.updateMap 2
    pop temp 0
    push constant 54
    push constant 6
    call LevelManager.updateMap 2
    pop temp 0
    push constant 6
    push constant 18
    push constant 56
    push constant 0
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 54
    push constant 12
    call LevelManager.updateMap 2
    pop temp 0
    push constant 0
    return