function WelcomeScreen.init 0
    push argument 0
    pop static 0
    push argument 1
    pop static 1
    push argument 2
    pop static 2
    push argument 3
    pop static 3
    push argument 4
    pop static 5
    push constant 0
    pop static 4
    push constant 0
    pop static 8
    push constant 20
    push constant 6
    push constant 1
    push constant 1
    push constant 1
    neg
    call Gear.new 5
    pop static 6
    push constant 40
    push constant 6
    push constant 1
    push constant 1
    push constant 1
    neg
    call Gear.new 5
    pop static 7
    push constant 0
    return
function WelcomeScreen.dispose 0
    push static 6
    call Gear.dispose 1
    pop temp 0
    push static 7
    call Gear.dispose 1
    pop temp 0
    push constant 0
    return
function WelcomeScreen.loadLevel 1
    push static 5
    push constant 36
    push constant 6
    call Player.setPosition 3
    pop temp 0
    call WelcomeScreen.drawFences 0
    pop temp 0
    call WelcomeScreen.drawTopBox 0
    pop temp 0
    call WelcomeScreen.drawBottomBox 0
    pop temp 0
    call WelcomeScreen.updateMap 0
    pop temp 0
    push static 0
    call Tiles.loadEngineer 1
    pop temp 0
    push constant 26
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call Tiles.loadDoorKeeper 1
    pop temp 0
    push constant 28
    push constant 6
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 19
    call String.new 1
    push constant 87
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 81
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    pop local 0
    push constant 8
    push constant 23
    call Output.moveCursor 2
    pop temp 0
    push local 0
    call Output.printString 1
    pop temp 0
    push local 0
    call String.dispose 1
    pop temp 0
    push constant 18
    call String.new 1
    push constant 65
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    pop local 0
    push constant 10
    push constant 23
    call Output.moveCursor 2
    pop temp 0
    push local 0
    call Output.printString 1
    pop temp 0
    push local 0
    call String.dispose 1
    pop temp 0
    push constant 16
    call String.new 1
    push constant 91
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 93
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    pop local 0
    push constant 11
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push local 0
    call Output.printString 1
    pop temp 0
    push local 0
    call String.dispose 1
    pop temp 0
    push constant 17
    call String.new 1
    push constant 65
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 88
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    pop local 0
    push constant 17
    push constant 23
    call Output.moveCursor 2
    pop temp 0
    push local 0
    call Output.printString 1
    pop temp 0
    push local 0
    call String.dispose 1
    pop temp 0
    push constant 15
    call String.new 1
    push constant 75
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 64
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    pop local 0
    push constant 18
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push local 0
    call Output.printString 1
    pop temp 0
    push local 0
    call String.dispose 1
    pop temp 0
    push constant 0
    return
function WelcomeScreen.animateTiles 0
    push static 6
    call Gear.draw 1
    pop temp 0
    push static 7
    call Gear.draw 1
    pop temp 0
    push constant 0
    return
function WelcomeScreen.winCondition 0
    push static 8
    return
function WelcomeScreen.processEvents 0
    push argument 0
    push constant 128
    eq
    not
    if-goto WelcomeScreen_1
    push constant 1
    neg
    pop static 8
    goto WelcomeScreen_0
label WelcomeScreen_1
label WelcomeScreen_0
    push constant 0
    return
function WelcomeScreen.processKeyCollision 0
    push constant 0
    return
function WelcomeScreen.getItemCount 0
    push static 4
    return
function WelcomeScreen.updateMap 0
    call LevelManager.resetMap 0
    pop temp 0
    push constant 20
    push constant 6
    call LevelManager.updateMap 2
    pop temp 0
    push constant 22
    push constant 6
    call LevelManager.updateMap 2
    pop temp 0
    push constant 26
    push constant 6
    call LevelManager.updateMap 2
    pop temp 0
    push constant 28
    push constant 6
    call LevelManager.updateMap 2
    pop temp 0
    push constant 40
    push constant 6
    call LevelManager.updateMap 2
    pop temp 0
    push constant 42
    push constant 6
    call LevelManager.updateMap 2
    pop temp 0
    push constant 18
    push constant 44
    push constant 8
    push constant 1
    neg
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 10
    push constant 14
    push constant 18
    push constant 0
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 10
    push constant 14
    push constant 44
    push constant 0
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 0
    push constant 62
    push constant 16
    push constant 1
    neg
    call LevelManager.updateMapBulk 4
    pop temp 0
    push constant 0
    return
function WelcomeScreen.drawFences 0
    push static 0
    call Tiles.loadQuadWallTile 1
    pop temp 0
    push constant 0
    push constant 62
    push constant 16
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    call Tiles.loadFenceTile 1
    pop temp 0
    push constant 0
    push constant 62
    push constant 18
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 62
    push constant 20
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 62
    push constant 22
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 62
    push constant 24
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 62
    push constant 26
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 62
    push constant 28
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    push constant 62
    push constant 30
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    return
function WelcomeScreen.drawTopBox 0
    push static 0
    push constant 1
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 18
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 20
    push constant 42
    push constant 8
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 3
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 44
    push constant 8
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 4
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 10
    push constant 16
    push constant 18
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 6
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 10
    push constant 16
    push constant 44
    push constant 0
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 7
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 18
    push constant 18
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 8
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 20
    push constant 42
    push constant 18
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 9
    call DungeonTiles.loadWallTile 2
    pop temp 0
    push constant 44
    push constant 18
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call Tiles.loadWhiteTile 1
    pop temp 0
    push constant 20
    push constant 42
    push constant 10
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 20
    push constant 42
    push constant 12
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 20
    push constant 42
    push constant 14
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 20
    push constant 42
    push constant 16
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    return
function WelcomeScreen.drawBottomBox 0
    push static 0
    call Tiles.loadChainTile 1
    pop temp 0
    push constant 22
    push constant 20
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push constant 40
    push constant 20
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 1
    call Tiles.loadDialogueBox 2
    pop temp 0
    push constant 20
    push constant 22
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 2
    call Tiles.loadDialogueBox 2
    pop temp 0
    push constant 22
    push constant 40
    push constant 22
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 3
    call Tiles.loadDialogueBox 2
    pop temp 0
    push constant 42
    push constant 22
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 4
    call Tiles.loadDialogueBox 2
    pop temp 0
    push constant 20
    push constant 24
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 6
    call Tiles.loadDialogueBox 2
    pop temp 0
    push constant 42
    push constant 24
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 7
    call Tiles.loadDialogueBox 2
    pop temp 0
    push constant 20
    push constant 26
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    push constant 8
    call Tiles.loadDialogueBox 2
    pop temp 0
    push constant 22
    push constant 40
    push constant 26
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push static 0
    push constant 9
    call Tiles.loadDialogueBox 2
    pop temp 0
    push constant 42
    push constant 26
    push static 0
    call Tiles.drawTile 3
    pop temp 0
    push static 0
    call Tiles.loadWhiteTile 1
    pop temp 0
    push constant 22
    push constant 40
    push constant 24
    push constant 1
    neg
    push static 0
    call Tiles.buildTiles 5
    pop temp 0
    push constant 0
    return